{% extends 'base.html.twig' %}

{% block body %}
    <h1>List of Regimes</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Duration</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for regime in regimes %}
                <tr>
                    <td>{{ regime.id }}</td>
                    <td>{{ regime.nomRegime }}</td>
                    <td>{{ regime.duree }}</td>
                    <td>{{ regime.type }}</td>
                    <td>
                        <a href="{{ path('regime_show', {'id': regime.id}) }}">Show</a>
                        <a href="{{ path('regime_edit', {'id': regime.id}) }}">Edit</a>
                        <a href="{{ path('regime_delete', {'id': regime.id}) }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('regime_new') }}">Create a new regime</a>
{% endblock %}
